.iScrollHolder{
    background-color: #f2f2f2;
}
#pluginView > .dev .iScrollHolder .htmlHolderCls {
    padding: 0;
}
label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}

input[type=text], select {
    border: 1px solid #ccc;
    color: #555;
    font-size: 14px;
    line-height: 1.42857;
    margin-bottom: 15px;
    padding: 6px 12px;
    width: 100%;
    display: block;
}

input[type=button] {
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    padding: 6px 12px;
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;        
}

input[type=button]:hover, input[type=button]:focus {
    background-color: #449d44;
    border-color: #255625;
    color: #fff;
}

div.displayForm, div.displayResult {    
    padding:5px
}
.keputusan a {
    background: #ddd none repeat scroll 0 0;
    border-radius: 0.3em;
    color: #444;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 0.2em 0.2em 0.2em 0.5em;
    text-decoration: none;
}

ul.keputusan{
    margin-left: 0;
}

.keputusan li{
   list-style:none;
   margin-bottom: 0.2em;
   margin-top: 0.3em;
}